.input-spacer {
	margin-left: -20px;
	margin-top: 30px;
}

.label-spacer {
	margin-left: -50px;
	margin-top: 30px;
	/*margin-right: 5px;*/
}

body {
	background: url("cloud-main.jpg");
}

.form-span {
	margin-left: 75px;
	margin-top: 50px;
	padding-right: 20px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
}

.control-label{
	color: #ffffff;
	font-weight: bold;
}

.birdies {
	width: 500px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.submit-spacer{
	margin-left: 160px;
	margin-top: 30px;
}

.btn-custom {
  background: #87e0fd; /* Old browsers */
background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */

  width: 285px;
  margin-bottom: 20px;
}

legend{
	margin-left: 10px;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
}

.signup-label {
	margin-left: 40px;
	color: #ffffff;
}

#welcome-text{
	float: left;
	/*color: #0090ff;*/
	color: #ffffff;
	position: absolute;
	top: 80px;
	left: 90px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

#tweetcloud, #real{
	color: #33ccff;
	font-size: 125%;
}

#join-convo{
	/*color: #ffffff;*/
	font-size: 125%;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

}

#convo{
	padding-top: 55px;
}

a, a:hover { 
	color: #33ccff; 
	text-decoration: none;
} 

.less-bottom{
	margin-top: 7px;
	margin-bottom: -12px;
	
}

.login-form{
	padding-left: 275px;
}

.remember-me{
	color: #ffffff;
	font-size: 90%;
}

.twitter-signin{
	padding-left: 570px;
	padding-top: 6px;
}

.tweetcloud-sample{
	float: right;
	position: absolute;
	right: 35px;
	top: 50px;
	width: 45%;
	height: auto;
}

h1{
	line-height: 50px;
}

#customize-text{
	padding-top: 20px;
}

.intro-text{
	background-color: rgba(0, 0, 0, .3);
	padding: 15px 30px 20px 30px;
	border-radius: 15px;

	-webkit-box-shadow:0 0 15px #ffffff; 
	-moz-box-shadow: 0 0 15px #ffffff; 
	box-shadow:0 0 15px #ffffff; 
}

h5{
	font-size: 115%;
}

#error{
	color: red;
}

.navbar-inner{
	background: #eab92d; /* Old browsers */
	background: -moz-linear-gradient(top,  #eab92d 0%, #c79810 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eab92d), color-stop(100%,#c79810)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eab92d 0%,#c79810 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eab92d 0%,#c79810 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eab92d 0%,#c79810 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eab92d 0%,#c79810 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 ); /* IE6-9 */
}

.sample{
	color: #567899;
}